---
layout: index
---

<h1>The Tale of the Dead Princess</h1>
<ul>
    {% for item in site.translation %}
        {% if item.category == 'dead-princess' %}
    <li>
        <a href = "{{ item.url | relative_url }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>The Tale of the Fisherman and the Fish</h1>
<ul>
    {% for item in site.translation %}
        {% if item.category == 'fishermen' %}
    <li>
        <a href = "{{ item.url | relative_url }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>The Tale of Golden Cockerel</h1>
<ul>
    {% for item in site.translation %}
        {% if item.category == 'golden-cockerel' %}
    <li>
        <a href = "{{ item.url | relative_url }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>The Tale of the Priest and His Workman Balda</h1>
<ul>
    {% for item in site.translation %}
        {% if item.category == 'priest' %}
    <li>
        <a href = "{{ item.url | relative_url }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>The Tale of Tsar Saltan</h1>
<ul>
    {% for item in site.translation %}
        {% if item.category == 'tsar' %}
    <li>
        <a href = "{{ item.url | relative_url }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>
