body {
    background-color:linen;
}

p {
    font-family: serif;
}

ul {
    font-family: serif;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    text-align: right;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: xx-small;
    align-self: center;
}

a:link {
    color: slategrey;
}

a:visited {
    color: slategrey;
}

a:hover {
    color: palevioletred;
}
