body {
    background-color: seashell;
    margin-top: 60px;
  }
  
p {
    font-family: cursive;
    font-weight: 200;
}

#wrapper {
    max-width: 800px;
    margin: auto;
}

#header {
    margin: auto;
    text-align: left;
}

#header p {
    font-size: xx-small;
    align-self: center;

}

#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: xx-small;
    align-self: center;
}

#gallery {
    display:grid;
    margin:auto;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 35px;
}

.page{
    display:grid; 
    margin:auto;
    grid-template-columns: 50% auto;
    grid-column-gap: 35px;
}


img{
    align-self: center;
}

.grid_cell {
    align-self: baseline;
}

@media (max-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(1, 275px); 
    }
  }
@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }
@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }
.gallery_thumb {
    width: 245px;
    object-fit: cover;
}

#exhibit {
    width: 250px;
}

@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}

a:link {
    color: slategrey;
}

a:visited {
    color: slategrey;
}

a:hover {
    color: palevioletred;
}

a:focus {
    outline: 0.5px dashed navy;
  }
  
ul {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 250;
  margin: 0;
  padding: 10px; 
}

.navbar {
    overflow: hidden;
    background-color:seashell;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }

  .navbar a {
    float: left;
    color: slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }