body {
    background-color: seashell;
  }
  
p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

ul {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin:0;padding:0;
}

#header {
    font-family: 'Courier New', Courier, monospace
    font size: smaller
    text-align: center;
}

#wrapper {
    max-width: 800px;
    margin: auto;
}

#footer {
    margin: auto;
    text-align: center;
}

#footer p {
    font-size: xx-small;
    align-self: center;
}

.container {
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    margin: 0;
}


.grid_cell {
    align-self: baseline;
}


.gallery_thumb {
    width: 250px;
    object-fit: cover;
}


a:link {
    color: slategrey;
}

a:visited {
    color: slategrey;
}

a:hover {
    color: palevioletred;
}

a:focus {
    outline: 1px dashed navy;
  }
