---
layout: index
---

<h1>Dead Princess</h1>
<ul>
    {% for item in site.pages %}
        {% if item.category == 'dead-princess' %}
    <li>
        <a href = "{{ site.baseurl }}/translation/dead-princess/{{ item.version }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>Fishermen</h1>
<ul>
    {% for item in site.pages %}
        {% if item.category == 'fishermen' %}
    <li>
        <a href = "{{ site.baseurl }}/translation/fishermen/{{ item.version }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>Golden Cockerel</h1>
<ul>
    {% for item in site.pages %}
        {% if item.category == 'golden-cockerel' %}
    <li>
        <a href = "{{ site.baseurl }}/translation/golden-cockerel/{{ item.version }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>Priest</h1>
<ul>
    {% for item in site.pages %}
        {% if item.category == 'priest' %}
    <li>
        <a href = "{{ site.baseurl }}/translation/priest/{{ item.version }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>

<h1>Tsar</h1>
<ul>
    {% for item in site.pages %}
        {% if item.category == 'dead-princess' %}
    <li>
        <a href = "{{ site.baseurl }}/translation/tsar/{{ item.version }}">{{ item.version }}</a><br>
        Tags: {{ item.tags }}<br>
        Language: {{ item.language }}<br>
        Source: {{ item.source-url }}<br> 
    </li>
        {% endif %} 
    {% endfor %} 
</ul>
