---
layout: index
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>

    <div id = "content">
        <p>{% for item in site.dead-princess %}</p>
        <p><a href = "{{ site.baseurl }}/{{page.abbr}}/{{version}}/">{{version}}</a></p>
        <p>{% endfor %}</p>

        <p><a href = "{{ site.baseurl }}/{{page.abbr}}/plot-summary/">plot-summary-translation</plot-summary-translation></a></p>
        <p><a href = "{{ site.baseurl }}/{{page.abbr}}/translation-in-verse-1/">translation-in-verse-1</a></p>
        <p><a href = "{{ site.baseurl }}/{{page.abbr}}/pst1/">per-sentense-translation</a></p>
        <p>Tags: {{ item.tags }}{{ page.image-url }}{{ page.content }}</p>
    
      </div>

      

      
      