---
layout: index
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>

    <div id = "content">
        <p>{% for item in site.archive.dead-princess %}</p>
        <p><a href = "{{ site.baseurl }}/translation/{{item.version}}/">{{item.version}}</a></p>
        <p>Tags: {{ item.tags }}</p>
        <p>{% endfor %}</p>

        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/plot-summary/">original-text</original-text></a></h1>
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/plot-summary/">plot-summary-translation</plot-summary-translation></a></h1>
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/translation-in-verse-1/">translation-in-verse-1</a></h1>
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/tiv2/">translation-in-verse-2</a></h1>
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/literal/">literal translation</a></h1>
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/pst1/">per-sentense-translation-1</a></h1>          
        <h1><a href = "{{ site.baseurl }}/{{page.abbr}}/pst2/">per-sentense-translation-2</a></h1>        
        <p>Tags: {{ item.tags }}</p>
        <br><br><p>{{ item.content }}</p>s
    
      </div>

      

      
      