<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/Home">Home</a>
            <a href="{{ site.baseurl }}/Tsar Saltan">
                The Tale of Tsar Saltan </a>
            <a href="{{ site.baseurl }}/Fisherman and the 
                Fish">The Tale of the Fisherman and the Fish</a>
            <a href="{{ site.baseurl }}/Priest and His 
                Workman Balda">The Tale of 
                the Priest and His Workman Balda</a>
            <a  href="{{ site.baseurl }}/Dead Princess">The
                Tale of the Dead Princess</a>
            <a href="{{ site.baseurl}}/Golden Cockerel">The 
                Tale of the Golden Cockerel</a>
            <a href="{{ site.baseurl}}/about">About</a>        
        </nav>
    </div>
    <div class="container">
        {{ content }}
    </div>
</body>