---
layout: default
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>
    <div id = "wrapper">
        <div id="header">
            <nav ul>
                <a href="{{ site.baseurl }}/index">Index</a>
                <a href="{{ site.baseurl }}/search">Search </a>
                <a href="{{ site.baseurl }}/translation">All Translations</a>
                <a href="{{ site.baseurl }}/about">About</a>
            <nav>
        </div>
        <div id= "content">
            {{ content }}
        </div>
    </div>
    
</body>