---
layout: default
---
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>
    <div id = "wrapper">
        <div id="header">
            <div class="navbar">
                <a href="{{ site.baseurl }}/index">Index</a>
                <a href="{{ site.baseurl }}/archives/fairy-tale-main-page-dead-princess">The Tale of the Dead Princess</a>
                <a href="{{ site.baseurl }}/archives/fairy-tale-main-page-fisherman">The Tale of the Fisherman and the Fish</a>
                <a href="{{ site.baseurl }}/archives/fairy-tale-main-page-golden-cockerel">The Tale of Golden Cockerel</a>
                <a href="{{ site.baseurl }}/archives/fairy-tale-main-page-priest">The Tale of the Priest and His Workman Balda</a>
                <a href="{{ site.baseurl }}/archives/fairy-tale-main-page-tsar">The Tale of Tsar Saltan</a>
                <a href="{{ site.baseurl }}/archives">Archive</a>
                <a href="{{ site.baseurl }}/search">Search</a>
                <a href="{{ site.baseurl }}/about">About</a>
            </div>
        </div>
        <div id= "content">
            {{ content }}
        </div>
    </div>
    
</body>
